<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<h1 th:text="${title}">ユーザー登録</h1>

<form method="post" action="#" th:action="@{/UserTourokuKakunin}" th:object="${userForm}">
	<div class="form-group">
	    <label for="UserName">お名前:</label>
	    <input id="UserName" class="form-control"  placeholder="ウェブスト太郎" name="UserName" type="text" th:value="*{UserName}"><br>
		<div th:if="${#fields.hasErrors('UserName')}" th:errors="*{UserName}"></div>
	</div>
	<div class="form-group">
	    <label for="UserAge">年齢:</label>
	    <input id="UserAge" class="form-control" placeholder="18" name="UserAge" type="text" th:value="*{UserAge}"><br>
		<div th:if="${#fields.hasErrors('UserAge')}" th:errors="*{UserAge}"></div>
	</div>


	<label>生年月日：</label>
	<input type="date" name="UserBirthDay" th:value="*{UserBirthDay}" /><br>
	<div th:if="${#fields.hasErrors('UserBirthDay')}" th:errors="*{UserBirthDay}"></div>

	<label for="contents">自己PR　:</label>
	<textarea name="contents" id="contents" rows="3" cols="40" th:field="*{contents}"></textarea><br>
	<div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
	<button type="submit" class="btn btn-primary">確認する</button>

</form>

<p><a href="#" th:href="@{/}">戻る</a></p>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.5.0.slim.min.js"></script>
<script src="js/bootstrap.bundle.min.js" ></script>
</body>
</html>