<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<h1 th:text="${title}">ユーザー登録</h1>

<p>入力内容をご確認ください</p>

<div th:object="${userForm}">
	<P th:text="*{name}"></P>
	<P th:text="*{age}"></P>
	<P th:text="*{birthDay}"></P>
	<P th:text="*{contents}"></P>
	<form method="post" action="#" th:action="@{/UserTouroku}">
		<input type="hidden" name="name" th:value="*{name}">
		<input type="hidden" name="age" th:value="*{age}">
		<input type="hidden" name="birthDay" th:value="*{birthDay}">
		<input type="hidden" name="contents" th:value="*{contents}">
		<input type="submit" value="戻る">
	</form>
	<form method="post" action="#" th:action="@{/complete}">
		<input type="hidden" name="name" th:value="*{name}">
		<input type="hidden" name="age" th:value="*{age}">
		<input type="hidden" name="birthDay" th:value="*{birthDay}">
		<input type="hidden" name="contents" th:value="*{contents}">
		<input type="submit" value="Complete">
	</form>
</div>


</body>
</html>