<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
   <div th:replace="~{block/header_boot::headerA_boot}"></div>
    <main role="main" class="container">
<h1 th:text="${title}">ユーザー登録</h1>

<p>入力内容をご確認ください</p>

<div th:object="${userForm}">
	<div class="mb-5">
		<ul class="list-group">
		  <li th:text="*{UserName}"class="list-group-item">Dapibus ac facilisis in</li>
		  <li th:text="*{UserAge}"class="list-group-item">Morbi leo risus</li>
		  <li th:text="*{UserBirthDay}"class="list-group-item">Porta ac consectetur ac</li>
		  <li th:text="*{contents}"class="list-group-item">Porta ac consectetur ac</li>
		</ul>
	</div>
	<form method="post" action="#" th:action="@{/complete}">
		<input type="hidden" name="UserName" th:value="*{UserName}">
		<input type="hidden" name="UserAge" th:value="*{UserAge}">
		<input type="hidden" name="UserSex" th:value="*{UserSex}">
		<input type="hidden" name="UserBirthDay" th:value="*{UserBirthDay}">
		<input type="hidden" name="contents" th:value="*{contents}">
		<input type="submit" class="btn btn-primary" value="完了">
	</form><br>
	<form method="post" action="#" th:action="@{/UserTouroku}">
		<input type="hidden" name="UserName" th:value="*{UserName}">
		<input type="hidden" name="UserAge" th:value="*{UserAge}">
		<input type="hidden" name="UserSex" th:value="*{UserSex}">
		<input type="hidden" name="UserBirthDay" th:value="*{UserBirthDay}">
		<input type="hidden" name="contents" th:value="*{contents}">
		<input type="submit" value="戻る">
	</form>

</div>
</main>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/bootstrap.min.js" ></script>
</body>
</html>